@font-face {
  font-family: "Exo2.0";
  font-display: swap;
  src: url("../fonts/Exo2.0-Thin.woff2") format("woff2"), url("../fonts/Pushster-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  font-display: swap;
  src: url("../fonts/trebuchetms.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TrebuchetMS";
  font-weight: 400;
  color: #666;
  font-size: 16px;
}

/* =====Header.html===== */

.header {
  font-family: "Exo2.0";
  font-size: 36px;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

/* =====/Header.html===== */

.no-webp .background {
  background-image: url(../images/bg.png); }

.background {
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.cats-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cats-list .cats-item {
  width: 320px;
}

.cats-list .cats-item .item-content {
  background: #f2f2f2;
  border: 4px solid #1698d9;
  border-radius: 12px;
  max-height: 480px;
  overflow: hidden;
  -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 90%, 0% 10%);
          clip-path: polygon(15% 0%, 85% 0%, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 90%, 0% 10%);
  position: relative;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cats-list .cats-item .item-content::before {
  content: "";
  width: 72px;
  height: 4px;
  position: absolute;
  background-color: #1698d9;
  left: -15px;
  top: 20px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cats-list .cats-item .item-content:hover {
  border: 4px solid green;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

.cats-list .cats-item .second-item {
  border: 4px solid #e52e7a;
}

.cats-list .cats-item .second-item::before {
  background-color: #e52e7a;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cats-list .cats-item .third-item {
  border: 4px solid #e5d62e;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cats-list .cats-item .third-item::before {
  background-color: #e5d62e;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.cats-list .cats-item .gray-item {
  -webkit-filter: grayscale(70%) contrast(20%) brightness(160%);
          filter: grayscale(70%) contrast(20%) brightness(160%);
}

.cats-list .cats-item .active {
  border: 4px solid green;
}

.cats-list .item-text {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.cats-list .item-text span {
  color: #1698d9;
  border-bottom: 2px dashed #1698d9;
}

.cats-list .item-text span:hover {
  cursor: pointer;
}

.item-description {
  padding: 20px 55px 0 50px;
}

.item-description .item-header {
  color: #000;
  font-weight: 700;
}

.item-description .item-header h1 {
  font-size: 48px;
}

.item-description .item-header p {
  font-size: 24px;
}

.item-description .item-header .item-label {
  font-size: 14px;
  margin-top: 15px;
}

.item-footer {
  position: relative;
}

.item-footer img {
  margin: 40px 0 0 -25px;
}

.item-footer.third-img img {
  margin: 23px 0 0 -25px;
}

.item-footer .item-size {
  font-size: 42px;
  color: #fff;
  background-color: #1698d9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 110px;
  right: 16px;
}

.item-footer .item-size p {
  font-size: 21px;
}

.item-footer .item-size h3 {
  font-size: 42px;
  font-weight: 400;
  padding-top: 16px;
}

.item-footer .red {
  background-color: #e52e7a;
}

.item-footer .yellow {
  background-color: #e5d62e;
}

/* =====Meida===== */

/* =====/Meida===== */

@media (max-width: 992px) {
  .cats-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cats-item {
    margin: 0 20px 20px 20px;
  }
}

@media (max-width: 768px) {
  .cats-item {
    margin: 0 35px 40px 35px;
  }

  .background {
    display: block;
    padding-top: 20px;
    height: 100%;
  }
}

.webp .background { background-image: url(../images/bg.webp); }